@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html
{
	scroll-behavior: smooth;/* faz com que o link clicado leve a pagina ate aonde se quer se clicar no home e tiver no final da pagina ela voltara para o inicio*/
}

body
{
	min-height: 1000px;
}